.header__link {
    height: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    text-align: right;
    text-decoration: none;
    overflow: hidden;
    background-color: #000000;
    border-style: none;
}

.header__link:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media all and (max-width: 939px) {
    .header__link {
        margin-right: 27px;
    }  
}