.popup__card {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}