@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image-container/profile__image-container.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__grid/profile__grid.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__grid/element__grid.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__trash-button/element__trash-button.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-number/element__like-number.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_type/popup_type_avatarEdit.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/_type/popup_type_—ÅardDelete.css);
@import url(./blocks/popup-delete/__title/popup-delete__title.css);
@import url(./blocks/popup-delete/__button/popup-delete__button.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title-avatar/form__title-avatar.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_name.css);
@import url(./blocks/form/__input/_type/form__input_type_about.css);
@import url(./blocks/form/__input/_type/form__input_type_place.css);
@import url(./blocks/form/__input/_type/form__input_type_link.css);
@import url(./blocks/form/__input/_type/form__input_type_avatar.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__button/_disabled/form__button_disabled.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/popup/__card/popup__card.css);
@import url(./blocks/popup/__card-image/popup__card-image.css);
@import url(./blocks/popup/__card-text/popup__card-text.css);
@import url(./blocks/popup-style/popup-style.css);