.header {
    display: flex;
    width: 100%;
    height: 56px;
    margin-top: 28px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    box-sizing: border-box;
}

@media all and (min-width: 940px) {
    .header {
        max-width: 880px;
        height: 74px;
        margin: 45px auto 0;
    }  
}